language: python

python:
  - "2.7"
  - "3.5"

install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --add channels conda-forge
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - sudo pip install python-coveralls
  - sudo pip install codecov
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION six numpy scipy scikit-learn pandas=0.17 coverage jupyter seaborn xgboost tensorflow;
    else
      conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION six numpy scipy scikit-learn pandas coverage jupyter seaborn xgboost tensorflow;
    fi
  - source activate test-environment
  - python setup.py install

script: 
  - python test/_test.py 
  - coverage run test/_test.py

after_success:
  - coverage report -m
  - coveralls
  - codecov
  
