html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 40%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



* { margin: 0; padding: 0; }

body {
  font: 12px/1.5 'Delicious', 'Helvetica Neue', Arial, sans-serif;

  min-height: 740px;

  color: #000;
  background: white;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'Delicious', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  text-shadow: -1px -1px 2px rgba(0, 67, 148,0.5);
}
h1 {
  font-size: 2em;
}
h2 { font-size: 1.75em; text-align: center; margin: 0.3em 0; }

h3 { margin-bottom: 0.5em; font-weight: bold; font-size: 1em;}

h3.center { text-align: center; }
h4 { color: #ddd; font-size: 36px; }

img { opacity: 0.9; }

ul { list-style-position: outside; opacity: 0.9; margin: 0.3em 0 0.6em; list-style-type:square; }
ol { list-style-position: outside; opacity: 0.9; margin: 0.3em 0 0.6em; list-style-type:decimal; }

.twocol ul { list-style-type:square; list-style-position: inside}
.twocol ol { list-style-type:decimal; list-style-position: inside}
.twocol {list-style-position: inside}

li ul { font-size: 0.8em; margin: 0; margin-left: 1em; list-style-type: circle;}

sup {
  font-size:smaller;
  vertical-align:super;
}


ul.check li {
    background:url("../images/ok-icon.png") no-repeat 0 5%;
    padding-left: 60px;
}

ul.check {
    list-style-type: none;
}

ul.outline li.current {
    background:url("../images/arrow-right-icon.png") no-repeat 0 5%;
    padding-left: 60px;
}

ul.outline li.sub_current {
    background:url("../images/arrow-right-icon.png") no-repeat 0 5%;
    padding-left: 60px;
}

ul.outline li.other {
    background:url("../images/plus-icon.png") no-repeat 0 5%;
    padding-left: 60px;
}

ul.outline li.sub_other {
    background:url("../images/plus-icon.png") no-repeat 0 5%;
    padding-left: 60px;
}

ul.outline{
    list-style-type: none;
}

ul.outline ul{
    list-style-type: none;
}

div.baddyshown {
    border:2px solid red;
} 

sub {
  font-size:smaller;
  vertical-align:sub;
}

p.right {text-align: right}

p, li { font-size: 0.9em; margin: 0.5em 0; }

li.empty { list-style: none; }

div.smaller p, div.smaller li { font-size: 0.7em; margin: 0.5em 0;}


p.ref { font-size: 0.6em; border-top: #002570 solid 1px; padding-top:5px; margin-top:10px}

.small { font-size: 0.7em }
.smaller { font-size: 0.5em; }

div.smaller p.small { font-size: 0.6em; }
pre { font-size: 0.2em; margin: 0.3em 0; }
mark {
  padding: 0 0.3em;
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

a { color: #1296f3;
  text-decoration: none;
}

a:link {
  opacity: 0.8;

  -webkit-transition: 0.3s;
  -moz-transition:    0.3s;
  -ms-transition:     0.3s;
  -o-transition:      0.3s;
  transition:         0.3s;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

q { quotes: none; font-style: italic; }

p.p-a { margin-left: -0.3em; }

div.final p { font-size: 1.1em; margin: 0; }
div.final p img { width: 2em; vertical-align: middle; }
div.final p.p-a { margin-left: -0.6em; }
div.final p.twitter { margin-top:1em; margin-bottom:0.5em; }
div.final p.deferred { margin-top: 0.5em; font-size: 1.2em; text-align: center; }

a:link:hover {
  background: rgba(255,255,255, 0.2);
}

h1 { text-align: center; }
p.footer { font-size: 0.7em; text-align: right; margin-top: 4em; }


.twocol { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
.threecol { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }


.note { font-size: 0.5em; float: right; width: 30%; background-color: #DAD085; margin:10px; padding:10px}

.colbreak {
    -webkit-column-break-before:always;
    -moz-column-break-before:always;
    column-break-before:always;
}

.step {
    position: relative;
    width: 1200px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Delicious', 'Arial', sans-serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.
    
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.66;

    -webkit-transition: opacity 1s, color 1s;
    -moz-transition:    opacity 1s, color 1s;
    -ms-transition:     opacity 1s, color 1s;
    -o-transition:      opacity 1s, color 1s;
    transition:         opacity 1s, color 1s;
}

.impress-enabled .step.active { opacity: 1 }



/* overview step */

#overview {
  z-index: -1;
  padding: 0;
  /* background: rgba(255, 255, 255, 0.5); */
  height: 10px;
}

/* on overview step everything is visible */

body.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}


/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 0.7em;

  width: 780px;
  padding: 10px 20px;
  margin: 20px auto;

  display: none;
  border-radius: 10px;
  background: #0f3584
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-not-supported {
  background: #002570;
  overflow: hidden;
  padding: 0 50px;
}
.impress-not-supported .step {
  position: relative;
  opacity: 1;
  min-height: 700px;
  margin: 200px auto;
  background: #0f3584;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}


.impress-not-supported .step > * {
  width: 820px;
}

.impress-not-supported .fallback-message {
  display: block;
}

.fallback-message.hidden {
  display: none !important;
}


.impress-not-supported #overview {
  display: none;
}

.step div.counter {
  position: absolute;
  top: -2em;
  right: 1em;
  font-size: 16px;
  opacity: 0;
  width: auto;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
div#timer {
  position: fixed;
  right: 1em;
  bottom: 1em;
  opacity: 0.5;
}

#thank-you p.email {
  margin-left: -0.3em;
}
#thank-you p.name {
  font-size: 1.4em;
}

/* #impress:not(.step-overview) .substep:not(.active):not(.previous) { */
/*   opacity: 0; */
/* } */

/* .impress-not-supported#impress:not(.step-overview) .substep:not(.active):not(.previous) { */
/*   opacity: 1; */
/* } */


.substep {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

body {
  -webkit-transition: background 0;
  -moz-transition:    background 0;
  -ms-transition:     background 0;
  -o-transition:      background 0;
  transition:         background 0;
}

.substep {
  opacity: 0;
}

/* override for animated substeps */
.substep.anim {
  opacity: 1;
}

.substep.active {
  opacity: 1;
}


svg .substep.previous {
  opacity: 1; 
}

.substep.previous {
  opacity: 0.75;
}

div.abs-box {
  position: relative;
}
div.abs-box > :not(.base) {
  position: absolute;
  top: 0;
  left: 0;
}
/* div.abs-box > .previous:not(.keep) { */
/*   opacity: 0; */
/* } */

/* .impress-not-supported */ .hide-on-notsupported {
  visibility: hidden !important;
}

.impress-not-supported .hint {
  display: none;
}


rect:hover {stroke:#fff;}

p.paper {font-size:0.5em; text-align:center}
p.paper:after {content:"]";}
p.paper:before {content:"[";}


@media print {
  body { text-shadow: none }
  body pre code { color: #000; border: #000 dotted 1px; }
  body pre code b { color: #000; }
  .wrap { height: auto; }
  div.step { page-break-before: always; }
  div.step.nobreak { page-break-before: avoid !important; }
  li {margin:0}
  ol { list-style-position: inside; }
  h1 { font-size: 1.75em; margin-top: 0}
  h2 { font-size: 1.5em; margin-top: 0}
  h3 { font-size: 1.5em; margin-bottom: 0}
  .step div.counter {
  position: absolute;
  float:right;
  top: -2em;
  right: 0;
  font-size: 16px;
  opacity: 0.5;
}
	#refs { font-size: 1em }
	a { color: rgb(0, 67, 148) }
}

/*.wrap { 
 padding-top:10px;	
 background-image: url("logo-info-en.gif");
 background-repeat: no-repeat;
} */

#clock {position:fixed; left:0px; bottom:0px; font-size:0.5em}

