.. _api:

API
===


``ibex``
--------

Module Doc
~~~~~~~~~~~~~

.. automodule:: ibex


Members
~~~~~~~~~~~~~~~

* :func:`ibex.frame`

* :class:`ibex.FrameMixin`

* :func:`ibex.trans`


``sklearn``
~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Module Doc
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. automodule:: ibex.sklearn


{% for module, classes in sklearn_modules|dictsort %}

``{{ module }}``
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


Module Doc
******************************************

.. automodule:: ibex.sklearn.{{ module }}


Members
******************************************

{% for class in classes|sort %}
* :class:`{{ class }}`
{% endfor %}

{% endfor %}



``tensorflow``
~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Module Doc
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


.. note::

    Ibex does not *require* the installation of :mod:`tensorflow`. If ``tensorflow`` is not installed on the system, though, then this module will not be available.


.. automodule:: ibex.tensorflow


``contrib.keras.wrappers.scikit_learn``
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


Module Doc
******************************************

.. automodule:: ibex.tensorflow.contrib.keras.wrappers.scikit_learn


Notable Members
******************************************

* :class:`ibex.tensorflow.contrib.keras.wrappers.scikit_learn.KerasClassifier`

* :class:`ibex.tensorflow.contrib.keras.wrappers.scikit_learn.KerasRegressor`


``xgboost``
~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Module Doc
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


.. note::

    Ibex does not *require* the installation of :mod:`xgboost`. If ``xgboost`` is not installed on the system, though, then this module will not be available.


.. automodule:: ibex.xgboost
